USE [Udemy_CentroMedico]
GO
/****** Object:  StoredProcedure [dbo].[SP_paciente]    Script Date: 24/7/2023 10:35:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROC [dbo].[SP_paciente] (
	@idpaciente int
)
AS

SELECT apellido, nombre, idPais, observacion FROM Paciente WHERE idPaciente = @idpaciente
